name: Build Plugin
on: [ push, pull_request ]
jobs:
  gradle-build:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v3.5.2
      - name: Set up JDK
        uses: actions/setup-java@v3.11.0
        with:
          distribution: temurin
          java-version: 17
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2.5.1
        with:
          gradle-version: 8.4
      - run: "gradle build --warning-mode=fail -p 01_The_Settings_File/my-project"
      - run: "gradle build --warning-mode=fail -p 02_The_Build_Files/my-project"
      - run: "gradle build --warning-mode=fail -p 03_Plugins/my-project"
      - run: "gradle build --warning-mode=fail -p 04_Tasks/my-project"
      - run: "gradle build --warning-mode=fail -p 05_Lifecycle_Tasks/my-project"
      - run: "gradle build --warning-mode=fail -p 06_Configuring_Task_Inputs_And_Outputs/my-project"
      - run: "gradle build --warning-mode=fail -p 07_Implementing_Tasks_and_Extensions/my-project"
      - run: "gradle build --warning-mode=fail -p 08_Declaring_Dependencis/my-project"
      - run: "gradle build --warning-mode=fail -p 09_Centralizing_Dependency_Versions/A_Dependency_Constrains_in_Convention_Plugin/my-project"
      - run: "gradle build --warning-mode=fail -p 09_Centralizing_Dependency_Versions/B_Platform_Project/my-project"
      - run: "gradle build --warning-mode=fail -p 09_Centralizing_Dependency_Versions/C_Version_Catalog/my-project"
      - run: "gradle build --warning-mode=fail -p 09_Centralizing_Dependency_Versions/D_Dependency_Locking/my-project"
      - run: "gradle build --warning-mode=fail -p 10_Dependency_Version_Conflicts/my-project"
      - run: "gradle build --warning-mode=fail -p 11_Capability_Conflicts/my-project"
      - run: "gradle build --warning-mode=fail -p 12_Publishing_Libraries/my-project"
      - run: "gradle build --warning-mode=fail -p 13_Aggregating_Custom_Artifacts/my-project"
      - run: "gradle build --warning-mode=fail -p 14_Settings_Plugins/my-project"
      - run: "gradle build --warning-mode=fail -p 16_Source_Sets/my-project"
      - run: "gradle build --warning-mode=fail -p 16_Source_Sets/my-android-project"
      - run: "gradle build --warning-mode=fail -p 16_Source_Sets/my-kotlin-multi-platform-project"
      - run: "gradle build --warning-mode=fail -p 17_Feature_Variants/my-project"
      - run: "gradle build --warning-mode=fail -p 18_Configuring_Testing/my-project"
      - run: "gradle build --warning-mode=fail -p 19_The_Test_Task/my-project"
      - run: "gradle build --warning-mode=fail -p 20_Test_Fixtures/my-project"
      - run: "gradle build --warning-mode=all  -p 21_Test_and_Code_Coverage_Reporting/my-project"
      - run: "gradle build --warning-mode=fail -p 22_The_JavaCompile_Task/my-project"
      - run: "gradle build --warning-mode=fail -p 23_Caching/my-project"
      - run: "gradle build --warning-mode=fail -p 24_Kotlin_DSL_and_Groovy_DSL/my-project"
      - run: "gradle build --warning-mode=fail -p 25_Using_Java_to_configure_builds/my-project"
      - run: "gradle run   --warning-mode=fail -p 26_The_Classpath/my-project"
      - run: "gradle run   --warning-mode=fail -p 27_Multiple_Compile_Classpaths/my-project"
      - run: "gradle run   --warning-mode=all  -p 28_Dependency_Analysis_Plugin/my-project"
      - run: "gradle run   --warning-mode=fail -p 29_Classpath_Collisions/my-project"
      - run: "gradle run   --warning-mode=fail -p 30_Security_Vulnerabilities/my-project"
      - run: "gradle run   --warning-mode=fail -p 31_The_Module_Path/my-project"
      - run: "gradle build --warning-mode=fail -p 32_Artifact_Transforms/my-project"
      - run: "gradle build --warning-mode=fail -p 33_Classpath_and_Module_Path_in_Testing/my-project"
      - run: "gradle build --warning-mode=fail -p 34_Properties_and_Providers/my-project"